html {
	font-size: 62.5%; 
	scroll-behavior: smooth;
}
body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	color: $text-dark;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: $bg-dark;
}
.container {
	max-width: 120rem;
	padding: 0 1.4rem;
	margin: 0 auto;
	height: 100%;
}
.link-wrap {
	width: 100%;
	height: 100%;
	transition: all .2s linear;
	&:hover {
		text-decoration: underline;
	}       
}
.highlight-text {
	color: $text-highlight;
}
.uppercase {
	text-transform: uppercase;
	margin-right: .5em;
}
.btn {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
	text-transform: uppercase;
	padding: 1.15em 0.77em;
	min-width: 14.08em;
	border-radius: .31em;
	text-align: center;
	transition: background-color .2s linear;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
	&--blue {
		background-color: $btn-bg-blue;
		border: .1rem solid $btn-border-light;
		color: $text-light;
		&:hover {
			background-color: darken($btn-bg-blue, 10%);
		}
	}
	&--white {
		background-color: $btn-bg-light;
		border: .1rem solid $btn-border-dark;
		color: $text-gray;
		&:hover {
			background-color: lighten($btn-bg-blue, 40%);
		}
	}
}

/* W3C standard сейчас только для Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: $scroll-thumb $scroll-track;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
	height: .7rem;
	width: .7rem;
}
*::-webkit-scrollbar-track {
	background: $scroll-track;
}
*::-webkit-scrollbar-thumb {
	background-color: $scroll-thumb;
	border-radius: .5rem;
}