$text-light: #FFFFFF;
$text-light-gray: #BBBBBB;
$text-gray: #2A2B30;
$text-dark: #000000;
$text-highlight: #43ABF0;

$bg-dark: #272733;
$bg-gray: #3D4050;

$dotted: #C4C4C4;

$btn-bg-blue: #3E9CDC;
$btn-bg-light: #FFFFFF;

$btn-border-light: #FFFFFF;
$btn-border-dark: #6F6D7B;
$btn-border-blue: #3E9CDC;

$icon-bg: #3E9CDC;
$icon-border: #286690;

$input-placeholder: #272733;
$input-bg: #FFFFFF;
$input-border: #FFFFFF;

$range-bg: #dfdfe1;
$range-border: #FFFFFF;
$range-thumb-bg: #42A9ED;
$range-thumb-border: #286690;

$select-open-bg: #3D4050;
$select-open-border: #3D4050;

$dataset-bg: #272733;
$dataset-border: #3D4050;
$dataset-hover-text: #42A9ED;

$scroll-track: #3D4050;
$scroll-thumb: #3E9CDC;

$separator: #C3C3C3;

$burger: #FFFFFF;

$z-index-select: 1;
$z-index-scheme-icon: 2;
$z-index-header: 3;
$z-index-burger: 4;

$notebookL: 1200px;
$notebookM: 1024px;
$tablet: 		768px;
$mobileL: 	425px;
$mobileM: 	375px;