$text-light: #FFFFFF;
$text-highlight: #43ABF0;

$btn-bg-blue: #3E9CDC;
$btn-bg-light: #FFFFFF;

$btn-border-light: #FFFFFF;
$btn-border-dark: #6F6D7B;

$scroll-track: #0D0D0D;
$scroll-thumb: #181818;

$notebook: 	1024px;
$tablet: 	768px;
$mobileL: 	425px;
$mobileM: 	375px;