.form {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "system email name"
											 "range range file"
											 "... submit ...";
	grid-gap: 3rem;
	@include breakpoint($notebookM) {
		grid-template-columns: 1fr;
		grid-template-areas: "system"
												 "email"
												 "name"
											 	 "range"
											 	 "file"
											 	 "submit";
	}
	&__select-wrap {
		grid-area: system;
		position: relative;
		z-index: $z-index-select;	
	}
	&__select {		
		cursor: pointer;
		background-color: rgba($input-bg,.85);
		border: .1rem solid $input-border;
		border-radius: .3rem;
		padding: 1.2rem 1rem;
		color: $input-placeholder; 
		appearance: none;
		width: 100%;
		height: 100%;
		transition: all .2s linear;
		&::placeholder {
			color: $input-placeholder;
		}
		&--open {
			background-color: rgba($select-open-bg,.85);
			border: .1rem solid $select-open-border;
			color: $text-light;
			border-radius: .3rem .3rem 0 0;
			&::placeholder {
				color: $text-light;
			}
		}
	}
	&__dataset {
		width: 100%;
		height: 0;
		overflow-y: hidden;
		position: absolute;
		top: 100%;
		visibility: hidden;
		transition: all .2s linear;
	}
	&__select--open ~ &__dataset {
		visibility: visible;
		height: 18rem;
	}
	&__select-arrow {
		background: url('../images/img/arrow-black.svg') center no-repeat;
		width: 2rem;
		height: 2rem;
		position: absolute;
		cursor: pointer;
		top: 1.5rem;
		right: 1.5rem;
		pointer-events: none;
		transition: all .2s linear;
	}
	&__select--open + &__select-arrow {
		transform: rotate(180deg);
		background: url('../images/img/arrow-white.svg') center no-repeat;
	}
	&__input {
		background-color: rgba($input-bg,.85);
		border: .1rem solid $input-border;
		border-radius: .3rem;
		padding: 1.2rem 1rem;
		&::placeholder {
			color: $input-placeholder;
		}
		&--email {
			grid-area: email;
		}
		&--name {
			grid-area: name;
		}
	}
	&__input-wrap {
		&--range {
			grid-area: range;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-content: space-between;
			-webkit-touch-callout: none; /* iOS Safari */
		  -webkit-user-select: none;   /* Chrome/Safari/Opera */
		  -khtml-user-select: none;    /* Konqueror */
		  -moz-user-select: none;      /* Firefox */
		  -ms-user-select: none;       /* Internet Explorer/Edge */
		  user-select: none;           /* Non-prefixed version, currently
		                                  not supported by any browser */
		  @include breakpoint($notebookM) {
		  	min-height: 5rem;
			}
			@include breakpoint($tablet) {
				min-height: 8rem;
			}
		}
		&--file {
			grid-area: file;
		}
	}
	&__range-label {
		color: $text-light;
	}
	&__range-value {
		font-weight: 600;
		text-align: right;
		color: $text-light;
		@include breakpoint($notebookM) {
			width: 7rem;
		}
		@include breakpoint($tablet) {
			width: 100%;
			text-align: left;
		}
	}
	&__range {
		display: block;
		width: 100%;
		position: relative;
		background-color: $range-bg;
		border: .1rem solid $range-border;
		height: .6rem;
		border-radius: .3rem;
		cursor: pointer;
	}
	&__thumb {
		background-color: $range-thumb-bg;
		border: .3rem solid $range-thumb-border;
		width: 2.4rem;
		height: 2.4rem;
		border-radius: 50%;
		position: absolute;
		top: -1rem;
	}
	&__file-label {
		font-weight: 600;
		display: block;
		border: .2rem solid $btn-border-blue;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		&::before {
			content: '';
			display: inline-block;
			width: 1.8rem;
			height: 2rem;
			background: url('../images/img/file.svg') center no-repeat;
			margin-right: 1rem;
		}
	}
	&__file {
		display: none;
	}
	&__submit {
		margin-top: 1rem;
		font-weight: 600;
		grid-area: submit;
	}
}