<section class="cover">
	<div class="container">
		<div class="cover__inner">
			<h2 class="cover__title">
				<span class="highlight-text">Lorem ipsum</span> 
				dolor sit amet consectetur 
				<span class="highlight-text">adipiscing</span>
			</h2>
			<div class="cover__desc desc-cover">
				At vero eos et accusamus et iusto odio dignissimos ducimus!
				<ul class="desc-cover__list">
					<li class="desc-cover__item">Totam rem aperiam eaque ipsa</li>
					<li class="desc-cover__item">Sit voluptatem accusantium doloremque laudantium</li>
					<li class="desc-cover__item">Sed ut perspiciatis, unde omnis iste natus error</li>
				</ul>
			</div>
			<div class="cover__btns">
				<a class="cover__btn btn btn--blue" href="#">Заказать</a>
				<a class="cover__btn btn btn--white" href="#">Подробнее</a>
			</div>
		</div>		
	</div>
</section>