<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__copyright">
				© 2018 
				<span class="uppercase">«LoremIpsum.net»</span> 
				Все права защищены.
			</div>
			<div class="footer__separator"></div>
			<div class="footer__payment-systems payment-systems">
				<ul class="payment-systems__list">
					<li class="payment-systems__item">
						<div class="payment-systems__elem payment-systems__elem--qiwi">
							<span>
								<span class="uppercase">Qiwi</span>
								wallet
							</span>
						</div>
					</li>
					<li class="payment-systems__item">
						<div class="payment-systems__elem payment-systems__elem--yandex-money">
							Yandex Money
						</div>
					</li>
					<li class="payment-systems__item">
						<div class="payment-systems__elem payment-systems__elem--web-money">
							Web Money
						</div>
					</li>			
				</ul>
			</div>
			<div class="footer__separator"></div>
			<div class="footer__contact-links contact-links">
				<ul class="contact-links__list">
					<li class="contact-links__item">
						<a class="contact-links__link contact-links__link--email link-wrap" href="mailto:info@ipsum228.com">info@ipsum228.com</a>
					</li>
					<li class="contact-links__item">
						<a class="contact-links__link contact-links__link--vk link-wrap" href="https://vk.com">Мы вконтакте</a>
					</li>
				</ul>
			</div>
		</div>		
	</div>	
</footer>
