<header class="header">
	<div class="container">
		<div class="header__inner">
			<div class="header__logo">
				<a class="link-wrap" href="#">
					<h1 class="header__logo-text">
						Loremipsum.<span class="highlight-text">net</span> 
					</h1>
				</a>
			</div>
			<nav class="header__nav nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a class="nav__link" href="#">Бизнес</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">О нас</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">Цены</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">Оформить заказ</a>
					</li>
				</ul>
			</nav>
		</div>
		
	</div>
</header>
