<section class="order-registration">
	<div class="container">
		<h2 class="order-registration__title">
			Оформление 
			<span class="highlight-text">заказа</span>
		</h2>
		<div class="order-registration__subtitle">Перед заполнением формы ознакомьтесь с нашей схемой работы!</div>
		<div class="order-registration__scheme scheme">
			<ul class="scheme__list">
				<li class="scheme__item">
					<div class="scheme__elem">Lorem ipsum dolorsit amet</div>
				</li>
				<li class="scheme__item">
					<div class="scheme__elem">Сonsecteturadipiscing elit</div>
				</li>
				<li class="scheme__item">
					<div class="scheme__elem">Sed do eiusmod tempor</div>
				</li>
				<li class="scheme__item">
					<div class="scheme__elem">Esse cillum doloreeu fugiat</div>
				</li>
				<li class="scheme__item">
					<div class="scheme__elem">Excepteur sint occaecat cupidatat non proident</div>
				</li>				
			</ul>
		</div>
		<form class="order-registration__form form" action="/">
			<div class="form__select-wrap">
				<input class="form__select" type="text" name="type-system" id="type-system" placeholder="Выберите тип системы" readonly>
				<div class="form__select-arrow"></div>
				<div class="form__dataset dataset">
					<ul class="dataset__list">
						<li class="dataset__item" data-option>
							<div class="dataset__option">Sed ut perspiciatis</div>
						</li>
						<li class="dataset__item" data-option>
							<div class="dataset__option">Nemo enim ipsam</div>
						</li>
						<li class="dataset__item" data-option>
							<div class="dataset__option">Et harum quidem</div>
						</li>
						<li class="dataset__item" data-option>
							<div class="dataset__option">Temporibus autem</div>
						</li>
						<li class="dataset__item" data-option>
							<div class="dataset__option">Itaque earum rerum</div>
						</li>
						<li class="dataset__item" data-option>
							<div class="dataset__option">Sed ut perspiciatis</div>
						</li>
						<li class="dataset__item" data-option>
							<div class="dataset__option">Nemo enim ipsam</div>
						</li>
						<li class="dataset__item" data-option>
							<div class="dataset__option">Et harum quidem</div>
						</li>
						<li class="dataset__item" data-option>
							<div class="dataset__option">Temporibus autem</div>
						</li>
						<li class="dataset__item" data-option>
							<div class="dataset__option">Itaque earum rerum</div>
						</li>
						<li class="dataset__item" data-option>
							<div class="dataset__option">Sed ut perspiciatis</div>
						</li>
						<li class="dataset__item" data-option>
							<div class="dataset__option">Nemo enim ipsam</div>
						</li>
						<li class="dataset__item" data-option>
							<div class="dataset__option">Et harum quidem</div>
						</li>
						<li class="dataset__item" data-option>
							<div class="dataset__option">Temporibus autem</div>
						</li>
						<li class="dataset__item" data-option>
							<div class="dataset__option">Itaque earum rerum</div>
						</li>
					</ul>
				</div>
			</div>				
			<input class="form__input form__input--email" type="email" placeholder="Ваш e-mail" name="email">
			<input class="form__input form__input--name" type="text" placeholder="Ваше имя" name="name">
			<div class="form__input-wrap form__input-wrap--range">
				<label class="form__range-label" for="range">Sed ut perspiciatis, unde omnis iste natus
					<span class="form__range-value">75%</span>
				</label>
				<input class="form__range" type="range" min="0" max="100" value="75" step="1" id="range" name="range">
			</div>
			<div class="form__input-wrap form__input-wrap--file">
				<label class="form__file-label btn btn--white" for="file">Прикрепить файл</label>
				<input class="form__file" type="file" id="file" name="file">
			</div>
			<input class="form__submit btn btn--blue" type="submit" value="Отправить">
		</form>
	</div>
</section>